# Bündelung aller (weiteren) Beteiligten in einem Feld
# aus personBy, corporationBy, corporationByConference und corporationByTerritory
# wenn das zugehörige _creator Feld "contributor" beinhaltet
- op: core/column-addition
  engineConfig:
    facets: []
    mode: row-based
  baseColumnName: id
  expression: |
    grel:
    forNonBlank(
      [
        forNonBlank(
          cells['personBy_creator_mv'].value,
          x,
          forEachIndex(
            x.split('␟'),
            i,
            v,
            if(
              v == 'contributor',
              forNonBlank(
                cells['personBy_id_mv'].value.split('␟')[i],
                y,
                y,
                null
              ),
              null
            )
          ).join('␟'),
          null
        ),
        forNonBlank(
          cells['corporationBy_creator_mv'].value,
          x,
          forEachIndex(
            x.split('␟'),
            i,
            v,
            if(
              v == 'contributor',
              forNonBlank(
                cells['corporationBy_id_mv'].value.split('␟')[i],
                y,
                y,
                null
              ),
              null
            )
          ).join('␟'),
          null
        ),
        forNonBlank(
          cells['corporationByConference_creator_mv'].value,
          x,
          forEachIndex(
            x.split('␟'),
            i,
            v,
            if(
              v == 'contributor',
              forNonBlank(
                cells['corporationByConference_id_mv'].value.split('␟')[i],
                y,
                y,
                null
              ),
              null
            )
          ).join('␟'),
          null
        ),
        forNonBlank(
          cells['corporationByTerritory_creator_mv'].value,
          x,
          forEachIndex(
            x.split('␟'),
            i,
            v,
            if(
              v == 'contributor',
              forNonBlank(
                cells['corporationByTerritory_id_mv'].value.split('␟')[i],
                y,
                y,
                null
              ),
              null
            )
          ).join('␟'),
          null
        )
      ].join('␟'),
      z,
      filter(
        z.split('␟'),
        f,
        f[0] != '␣'
      ).uniques().join('␟'),
      null
    )
  newColumnName: contributor_id_mv
  columnInsertIndex: 2
- op: core/column-addition
  engineConfig:
    facets: []
    mode: row-based
  baseColumnName: contributor_id_mv
  expression: |
    grel:
    forNonBlank(
      forEach(
        value.split('␟'),
        id,
        forNonBlank(
          if(
            id.startsWith('KS'),
            id.cross('ks','id')[0].cells['display'].value,
            if(
              id.startsWith('PE'),
              id.cross('pe','id')[0].cells['display'].value,
              if(
                id.startsWith('TH'),
                id.cross('th','id')[0].cells['display'].value,
                id
              )
            )
          ),
          x,
          x,
          id
        )
      ).join('␟'),
      x,
      x,
      null
    )
  newColumnName: contributor_display_mv
  columnInsertIndex: 2
