# Trefferliste dritte Zeile
- op: core/column-addition
  engineConfig:
    facets: []
    mode: row-based
  baseColumnName: id
  expression: |
    grel:
    forNonBlank(
      filter(
        cells['dateOriginComment_mv'].value.split('␟'),
        v,
        not(v=='␣')
      )[0],
      v,
      v,
      null
    )
  newColumnName: displayAddition1
  columnInsertIndex: 1
