# GND-IDs durch Kallías-IDs ersetzen
# Das dafür genutzte Projekt "lookup_gnd" enthält paarweise id und gnd (vgl. scripts/main.sh)
- op: core/text-transform
  engineConfig:
    facets: []
  columnName: relation_id_mv
  expression: |
    grel:
    forNonBlank(
      forEach(
        value.split('␟'),
        v,
        forNonBlank(
          v.cross('lookup_gnd','gnd')[0].cells['id'].value,
          x,
          x,
          if(
            or(
              v.startsWith('AK'),
              v.startsWith('KS'),
              v.startsWith('PE'),
              v.startsWith('TH')
            ),
            v,
            '␣'
          )
        )
      ).join('␟'),
      x,
      x,
      null
    )
