# Invalide URLs löschen
- op: core/text-transform
  engineConfig:
    facets: []
  columnName: website_url_mv
  expression: |
    grel:
    forNonBlank(
      forEach(
        value.split('␟'),
        v,
        if(
          isError(parseUri(v)),
          '␣',
          v
        )
      ).join('␟'),
      x,
      if(
        isNonBlank(x.replace(/␟|␣/,'')),
        x,
        null
      ),
      null
    )