# Suche "Vom selben Bestandsbildner" auf Detailseite
# Personen/Körperschaften mit Relation „Über“ aus verknüpften Bestandsdatensätzen (BF)
# BF:searchCollectionCreator_id_mv wurde im vorherigen Schritt bereits gebildet (vgl. searchCollectionCreator_bf.yaml)
# Höchsten BI-Datensatz ermitteln (Hierarchie über parent_id_mv)
# Dann über Verknüpfung (collection_id_mv) den Bestandsbildner (BF:searchCollectionCreator_id_mv) ermitteln
- op: core/column-addition
  engineConfig:
    facets: []
    mode: row-based
  baseColumnName: id
  expression: |
    grel:
    forNonBlank(
      forNonBlank(
        coalesce(
          forNonBlank(
            cells['parent_id_mv'].value.cross('bi','id')[0].cells['parent_id_mv'].value.cross('bi','id')[0].cells['parent_id_mv'].value,
            x,
            x,
            null
          ),
          forNonBlank(
            cells['parent_id_mv'].value.cross('bi','id')[0].cells['parent_id_mv'].value,
            x,
            x,
            null
          ),
          forNonBlank(
            cells['parent_id_mv'].value,
            x,
            x,
            null
          ),
          cells['id'].value
        ),
        bi_id,
        bi_id.cross('bi','id')[0].cells['collection_id_mv'].value,
        null
      ),
      collections,
      forEach(
        collections.split('␟'),
        collection,
        forNonBlank(
          collection.cross('bf','id')[0].cells['searchCollectionCreator_id_mv'].value,
          v,
          v,
          null
        )
      ).join('␟'),
      null
    )
  newColumnName: searchCollectionCreator_id_mv
  columnInsertIndex: 2
- op: core/column-addition
  engineConfig:
    facets: []
    mode: row-based
  baseColumnName: id
  expression: |
    grel:
    forNonBlank(
      forEach(
        cells['searchCollectionCreator_id_mv'].value.split('␟'),
        id,
        forNonBlank(
          if(
            id.startsWith('KS'),
            id.cross('ks','id')[0].cells['display'].value,
            if(
              id.startsWith('PE'),
              id.cross('pe','id')[0].cells['display'].value,
              id
            )
          ),
          x,
          x,
          '␣'
        )
      ).join('␟'),
      x,
      x,
      null
    )
  newColumnName: searchCollectionCreator_display_mv
  columnInsertIndex: 2
