# Trefferliste dritte Zeile
# GND-Relation nur Indikator berc_Ts und beru_TS
- op: core/column-addition
  engineConfig:
    facets: []
    mode: row-based
  baseColumnName: id
  expression: |
    grel:
    forNonBlank(
      forNonBlank(
        cells['relation_text_mv'].value,
        v,
        forEachIndex(
          v.split('␟'),
          i,
          x,
          if(
            or(
              cells['relation_type_mv'].value.split('␟')[i].contains('Beruf/Funktion'),
              cells['relation_type_mv'].value.split('␟')[i].contains('Charakt. Beruf')
            ),
            if(
              not(x == '␣'),
              x,
              null
            ),
            null
          )
        ).join(', '),
        null
      ),
      normiert,
      normiert,
      forNonBlank(
        filter(
          cells['occupation_mv'].value.split('␟'),
          v,
          not(v == '␣')
        ).join(', '),
        unnormiert,
        unnormiert,
        null
      )
    )
  newColumnName: displayAddition1
  columnInsertIndex: 1
