# Typ und Text der Provenienzmerkmale der zugehörigen Exemplare
# synchron zu item_id_mv
- op: core/column-addition
  engineConfig:
    facets: []
    mode: row-based
  baseColumnName: id
  expression: |
    grel:
    forNonBlank(
      forEach(
        value.cross('au','manifestation_id'),
        r,
        forNonBlank(
          r.cells['noteProvenance_text_mv'].value,
          texts,
          forEachIndex(
            texts.split('␟'),
            i,
            text,
            forNonBlank(
              r.cells['noteProvenance_type_mv'].value.split('␟')[i].replace('␣','').replace('normiert',''),
              type,
              type + ': ' + text,
              text
            )
          ).join('; '),
          '␣'
        )
      ).join('␟'),
      x,
      if(
        isNonBlank(x.replace(/␟|␝|␣/,'')),
        x,
        null
      ),
      null
    )
  newColumnName: item_noteProvenance_mv
  columnInsertIndex: 2
