# Benutzungshinweis
# location_mv ist in AU maximal 1x belegt, daher kein split
- op: core/column-addition
  engineConfig:
    mode: row-based
    facets: []
  newColumnName: usageRestrictionNote
  columnInsertIndex: 2
  baseColumnName: id
  expression: |
    grel:
    if(
        cells['usageRestriction'].value == 'benutzbar',
        if(
            cells['location_mv'].value == 'Magazin Sindelfingen',
            'Magazin Sindelfingen. Bereitstellung mit Wartezeit. Bitte bestellen Sie mind. 4 Wochen im Voraus und nehmen Sie Kontakt zu uns auf.' + '\n' +
            'E-Mail: bibliothek@dla-marbach.de' + '\n' +
            'Telefon: +49 7144 848 317',
            if(
                cells['location_mv'].value == 'Magazin Fellbach',
                'Magazin Fellbach. Bereitstellung mit Wartezeit bis zu 2 Wochen. Bitte bestellen Sie rechtzeitig im Voraus.',
                if(
                    cells['location_mv'].value == 'Studiensaal',
                    'Freihandbereich im Bibliothekslesesaal',
                    null
                )
            )
        ),
        if(
            or(
                cells['usageRestriction'].value == 'eingeschränkt benutzbar',
                cells['usageRestriction'].value == 'nur im Handschriftenlesesaal benutzbar' 
            ),
            if(
                cells['location_mv'].value == 'Magazin Sindelfingen',
                'bedingt benutzbar' + '\n' +
                    'Magazin Sindelfingen. Bereitstellung mit Wartezeit. Bitte bestellen Sie mind. 4 Wochen im Voraus und nehmen Sie Kontakt zu uns auf.' + '\n' +
                    'E-Mail: bibliothek@dla-marbach.de' + '\n' +
                    'Telefon: +49 7144 848 317',
                if(
                    cells['location_mv'].value == 'Magazin Fellbach',
                    'bedingt benutzbar' + '\n' +
                        'Magazin Fellbach. Bereitstellung mit Wartezeit bis zu 2 Wochen. Bitte bestellen Sie rechtzeitig im Voraus.',
                    if(
                        cells['location_mv'].value == 'Jünger-Haus',
                        'bedingt benutzbar' + '\n' +
                            'Bereitstellung mit Wartezeit (mind. drei Wochen). Bitte bestellen Sie im Voraus und nehmen Sie Kontakt zu uns auf.' + '\n' +
                            'E-Mail: bibliothek@dla-marbach.de' + '\n' +
                            'Telefon: +49 7144 848 317',
                        'bedingt benutzbar' + '\n' +
                            'Bitte wenden Sie sich an die Auskunft der Bibliothek.' + '\n' +
                            'E-Mail: bibliothek@dla-marbach.de' + '\n' +
                            'Telefon: +49 7144 848 317' 
                    )
                )
            ),
            if(
                and(
                    cells['usageRestriction'].value == 'nicht benutzbar',
                    cells['location_mv'].value == 'nicht im Bestand des DLA' 
                ),
                'nicht benutzbar' + '\n' +
                    'Virtuelles Exemplar − nicht im Bestand des DLA!',
                if(
                    cells['usageRestriction'].value == 'nicht benutzbar',
                    if(
                        cells['digitalObject_hyperlink_mv'].value.contains('https://digital.dla-marbach.de/viewer'),
                        'Bitte verwenden Sie den Link zum Digitalen Objekt',
                        'nicht benutzbar' + '\n' +
                            'Bitte wenden Sie sich an die Auskunft der Bibliothek.' + '\n' +
                            'E-Mail: bibliothek@dla-marbach.de' + '\n' +
                            'Telefon: +49 7144 848 317'
                    ),
                    null
                )
            )
        )
    )
