# synchron zu item_id_mv, mehrere verknüpfte Informationen getrennt mit ␝ (U+241D)
- op: core/column-addition
  engineConfig:
    facets: []
    mode: row-based
  baseColumnName: id
  expression: |
    grel:
    forNonBlank(
      forEach(
        value.cross('au','manifestation_id'),
        r,
        forNonBlank(
          r.cells['gndRelation_text_mv'].value,
          x,
          x.replace('␟','␝'),
          '␣'
        )
      ).join('␟'),
      x,
      if(
        isNonBlank(x.replace(/␟|␝|␣/,'')),
        x,
        null
      ),
      null
    )
  newColumnName: item_gndRelation_text_mv
  columnInsertIndex: 2
- op: core/column-addition
  engineConfig:
    facets: []
    mode: row-based
  baseColumnName: id
  expression: |
    grel:
    forNonBlank(
      forEach(
        value.cross('au','manifestation_id'),
        r,
        forNonBlank(
          r.cells['gndRelation_type_mv'].value,
          x,
          x.replace('␟','␝'),
          '␣'
        )
      ).join('␟'),
      x,
      if(
        isNonBlank(x.replace(/␟|␝|␣/,'')),
        x,
        null
      ),
      null
    )
  newColumnName: item_gndRelation_type_mv
  columnInsertIndex: 2
