# vor späteren Anreicherungen sicherstellen, dass relationManifestation_type_mv und relationManifestation_id_mv indexgerecht zueinander sind
- op: core/text-transform
  engineConfig:
    facets: []
  columnName: relationManifestation_id_mv
  expression: |
    grel:
    forNonBlank(
      cells['relationManifestation_type_mv'].value,
      x,
      forEachIndex(
        x.split('␟'),
        i,
        z,
        forNonBlank(
          value.split('␟')[i],
          v,
          v,
          '␣'
        )
      ).join('␟'),
      null
    )
