# Bei mehrbändigen Werken Personen VON von der Hauptaufnahme in alle Teile kopieren
# dabei über Index von personBy_id_mv iterieren, um sicherzustellen, dass in Beziehung stehende Felder gleich oft belegt sind
# deshalb auch Reihenfolge der folgenden Transformationen (personBy_id_mv zuletzt) wichtig
- op: core/text-transform
  engineConfig:
    facets:
    - type: text
      columnName: parent_type_mv
      query: Teil mit abhängigem Titel
      mode: text
  columnName: personBy_role_mv
  expression: |
    grel:
    forNonBlank(
      forEachIndex(
        cells['parent_type_mv'].value.split('␟'),
        i_parent_type,
        v_parent_type,
        if(
          v_parent_type == 'Teil mit abhängigem Titel',
          forNonBlank(
            cells['parent_id_mv'].value.split('␟')[i_parent_type].cross('ak', 'id')[0],
            r,
            forNonBlank(
              r.cells['personBy_id_mv'].value,
              x,
              forEachIndex(
                x.split('␟'),
                i_person_id,
                v_person_id,
                forNonBlank(
                  r.cells[columnName].value.split('␟')[i_person_id],
                  v,
                  v,
                  '␣'
                )
              ).join('␟'),
              null
            ),
            null
          ),
          null
        )
      ).join('␟'),
      new,
      with(
        forNonBlank(
          forNonBlank(
            cells['personBy_id_mv'].value,
            x,
            forEachIndex(
              x.split('␟'),
              i,
              v,
              forNonBlank(
                value.split('␟')[i],
                v,
                v,
                '␣'
              )
            ).join('␟'),
            null
          ),
          old,
          old + '␟' + new,
          new
        ),
        z,
        if(
          isNonBlank(z.replace(/␟|␣/,'')),
          z,
          null
        )
      ),
      null
    )
- op: core/text-transform
  engineConfig:
    facets:
    - type: text
      columnName: parent_type_mv
      query: Teil mit abhängigem Titel
      mode: text
  columnName: personBy_creator_mv
  expression: |
    grel:
    forNonBlank(
      forEachIndex(
        cells['parent_type_mv'].value.split('␟'),
        i_parent_type,
        v_parent_type,
        if(
          v_parent_type == 'Teil mit abhängigem Titel',
          forNonBlank(
            cells['parent_id_mv'].value.split('␟')[i_parent_type].cross('ak', 'id')[0],
            r,
            forNonBlank(
              r.cells['personBy_id_mv'].value,
              x,
              forEachIndex(
                x.split('␟'),
                i_person_id,
                v_person_id,
                forNonBlank(
                  r.cells[columnName].value.split('␟')[i_person_id],
                  v,
                  v,
                  '␣'
                )
              ).join('␟'),
              null
            ),
            null
          ),
          null
        )
      ).join('␟'),
      new,
      with(
        forNonBlank(
          forNonBlank(
            cells['personBy_id_mv'].value,
            x,
            forEachIndex(
              x.split('␟'),
              i,
              v,
              forNonBlank(
                value.split('␟')[i],
                v,
                v,
                '␣'
              )
            ).join('␟'),
            null
          ),
          old,
          old + '␟' + new,
          new
        ),
        z,
        if(
          isNonBlank(z.replace(/␟|␣/,'')),
          z,
          null
        )
      ),
      null
    )
- op: core/text-transform
  engineConfig:
    facets:
    - type: text
      columnName: parent_type_mv
      query: Teil mit abhängigem Titel
      mode: text
  columnName: personBy_id_mv
  expression: |
    grel:
    forNonBlank(
      forEachIndex(
        cells['parent_type_mv'].value.split('␟'),
        i_parent_type,
        v_parent_type,
        if(
          v_parent_type == 'Teil mit abhängigem Titel',
          forNonBlank(
            cells['parent_id_mv'].value.split('␟')[i_parent_type].cross('ak', 'id')[0],
            r,
            forNonBlank(
              r.cells['personBy_id_mv'].value,
              x,
              forEachIndex(
                x.split('␟'),
                i_person_id,
                v_person_id,
                forNonBlank(
                  r.cells[columnName].value.split('␟')[i_person_id],
                  v,
                  v,
                  '␣'
                )
              ).join('␟'),
              null
            ),
            null
          ),
          null
        )
      ).join('␟'),
      new,
      with(
        forNonBlank(
          forNonBlank(
            cells['personBy_id_mv'].value,
            x,
            forEachIndex(
              x.split('␟'),
              i,
              v,
              forNonBlank(
                value.split('␟')[i],
                v,
                v,
                '␣'
              )
            ).join('␟'),
            null
          ),
          old,
          old + '␟' + new,
          new
        ),
        z,
        if(
          isNonBlank(z.replace(/␟|␣/,'')),
          z,
          null
        )
      ),
      null
    )
