# relationManifestation_id_mv in relation_id_mv verschieben
- op: core/text-transform
  engineConfig:
    facets: []
  columnName: relation_id_mv
  expression: |
    grel:
    forNonBlank(
      cells['relationManifestation_id_mv'].value,
      x,
      if(
        isNonBlank(value),
        value + '␟' + x,
        x
      ),
      value
    )
- op: core/column-removal
  columnName: relationManifestation_id_mv
# relationManifestation_type_mv in relation_type_mv verschieben
- op: core/text-transform
  engineConfig:
    facets: []
  columnName: relation_type_mv
  expression: |
    grel:
    forNonBlank(
      cells['relationManifestation_type_mv'].value,
      x,
      if(
        isNonBlank(value),
        value + '␟' + x,
        x
      ),
      value
    )
- op: core/column-removal
  columnName: relationManifestation_type_mv
# ggf. Platzhalterzeichen einfügen
- op: core/text-transform
  engineConfig:
    facets: []
  columnName: relation_type_mv
  expression: |
    grel:
    forNonBlank(
      forEachIndex(
        cells['relation_id_mv'].value.split('␟'),
        i,
        z,
        forNonBlank(
          cells['relation_type_mv'].value.split('␟')[i],
          v,
          v,
          '␣'
        )
      ).join('␟')
      x,
      x,
      value
    )
- op: core/text-transform
  engineConfig:
    facets: []
  columnName: relation_text_mv
  expression: |
    grel:
    forNonBlank(
      forEachIndex(
        cells['relation_id_mv'].value.split('␟'),
        i,
        z,
        forNonBlank(
          cells['relation_text_mv'].value.split('␟')[i],
          v,
          v,
          '␣'
        )
      ).join('␟')
      x,
      x,
      value
    )
- op: core/text-transform
  engineConfig:
    facets: []
  columnName: relation_comment_mv
  expression: |
    grel:
    forNonBlank(
      forEachIndex(
        cells['relation_id_mv'].value.split('␟'),
        i,
        z,
        forNonBlank(
          cells['relation_comment_mv'].value.split('␟')[i],
          v,
          v,
          '␣'
        )
      ).join('␟')
      x,
      x,
      value
    )
