# vor späteren Anreicherungen sicherstellen, dass relation_type_mv stets indexgerecht zu den übrigen Feldern ist
- op: core/text-transform
  engineConfig:
    facets: []
  columnName: relation_id_mv
  expression: |
    grel:
    forNonBlank(
      cells['relation_type_mv'].value,
      x,
      forEachIndex(
        x.split('␟'),
        i,
        z,
        forNonBlank(
          value.split('␟')[i],
          v,
          v,
          '␣'
        )
      ).join('␟'),
      null
    )
- op: core/text-transform
  engineConfig:
    facets: []
  columnName: relation_text_mv
  expression: |
    grel:
    forNonBlank(
      cells['relation_type_mv'].value,
      x,
      forEachIndex(
        x.split('␟'),
        i,
        z,
        forNonBlank(
          value.split('␟')[i],
          v,
          v,
          '␣'
        )
      ).join('␟'),
      null
    )
- op: core/text-transform
  engineConfig:
    facets: []
  columnName: relation_comment_mv
  expression: |
    grel:
    forNonBlank(
      cells['relation_type_mv'].value,
      x,
      forEachIndex(
        x.split('␟'),
        i,
        z,
        forNonBlank(
          value.split('␟')[i],
          v,
          v,
          '␣'
        )
      ).join('␟'),
      null
    )
