# Bei type "Werk: Werk" die Angabe aus comment übernehmen
- op: core/text-transform
  engineConfig:
    facets: []
  columnName: relation_type_mv
  expression: |
    grel:
    forNonBlank(
      forEachIndex(
        cells['relation_type_mv'].value.split('␟'),
        i,
        type,
        if(
          type == 'Werk: Werk',
          forNonBlank(
            cells['relation_comment_mv'].value.split('␟')[i],
            comment,
            comment,
            type
          ),
          type
        )
      ).join('␟'),
      x,
      x,
      null
    )
# comment leeren wenn es jetzt type entspricht
- op: core/text-transform
  engineConfig:
    facets: []
  columnName: relation_comment_mv
  expression: |
    grel:
    forNonBlank(
      forEachIndex(
        cells['relation_type_mv'].value.split('␟'),
        i,
        type,
        forNonBlank(
          cells['relation_comment_mv'].value.split('␟')[i],
          comment,
          if(
            type == comment,
            '␣',
            comment
          ),
          '␣'
        )
      ).join('␟'),
      x,
      x,
      null
    )
# Ersetzungen durch map_relation.csv zur Vereinheitlichung
- op: core/text-transform
  engineConfig:
    facets: []
  columnName: relation_type_mv
  expression: |
    grel:
    forNonBlank(
      forEach(
        value.split('␟'),
        v,
        forNonBlank(
          v.cross('map_relation','suchen')[0].cells['ersetzen'].value,
          x,
          x,
          v
        )
      ).join('␟'),
      x,
      x,
      null
    )
